
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #0b0c10;
  color: #c5c6c7;
}
header {
  background-color: #1f2833;
  padding: 20px;
  text-align: center;
}
#searchBox {
  margin-top: 10px;
  padding: 8px;
  width: 300px;
}
main#timeline {
  padding: 20px;
}
.timeline-card {
  background: #1f2833;
  margin-bottom: 15px;
  padding: 20px;
  border-left: 5px solid #45a29e;
}
.timeline-card:hover {
  background: #45a29e;
  color: #0b0c10;
}
footer {
  text-align: center;
  font-size: 12px;
  margin: 30px 0;
}
